.home-page {
  color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.home-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-section:first-of-type {
  margin-top: 80px;
}

.home-section:nth-child(even) {
  background-color: white;
}

.home-section p {
  text-align: left;
  margin: .5rem 0;
  width: 100%;
}

.home-section h2 {
  width: 100%;
}

.home-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
}

.home-header h1{
  margin: 0;
}

.home-qr {
  max-width: 300px;
  padding: 0 1rem;
}
